setuptools==65.5.0
wheel==0.40.0
pip==23.2.1
flask
flask-cors
requests
beautifulsoup4
pytz
googletrans==4.0.0-rc1
gunicorn
websocket-client
yfinance
pandas
numpy==1.23.5
joblib==1.2.0
scikit-learn==1.2.2
